@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  overflow-x: hidden;
}

.myWrapper {
  width: 90%;
  margin: 0 auto;
}


button:hover, a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.swiper {
  position: relative;
}

.swiper .swiper-button-next {
  position: absolute;
  left: 20%;
  right: 0;
  top: 84%;
  margin: auto;
}

.swiper .swiper-button-prev {
  position: absolute;
  left: 0;
  right: 20%;
  top: 84%;
  margin: auto;
}
